{% load static %}

<div class="pushmenu pushmenu-left cart-box-container">
    <div class="cart-list">
        <span class="close-left js-close">x</span>
        <h3 class="cart-title">Your Cart</h3>
        <ul class="list">
            {% if baskets %}
                {% for basket in baskets %}
                    <li>
                        <a href="{% url 'products:product-detail' basket.product.id %}" title="" class="cart-product-image"><img src='{{ basket.product.get_img.image.url }}' alt="Product"></a>
                        <div class="text">
                            <p class="product-name">{{ basket.product.name }}</p>
                            <p class="product-price">₽{{ basket.sum }}</p>
                            <div class="quantity input-group">
                                <button type="button" class="quantity-left-minus btn btn-number js-minus" data-type="minus" data-field="">
                                    <span class="minus-icon">-</span>
                                </button>
                                <input type="text" name="number" value="{{ basket.quantity }}" class="product_quantity_number js-number">
                                <button type="button" class="quantity-right-plus btn btn-number js-plus" data-type="plus" data-field="">
                                    <span class="plus-icon">+</span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <p>Корзина пуста</p>
            {% endif %}
        </ul>
        <div class="cart-bottom">
            <p class="total"><span>Subtotal</span> ₽{{ baskets.total_sum }}</p>
            <div class="cart-button">
                <a class="checkout" href="#" title="">Check out</a>
                <a class="edit-cart" href="#" title="edit cart">Edit cart</a>
            </div>
            <a href="#" class="text">Our Shipping & Return Policy</a>
        </div>
        <!-- End cart bottom -->
    </div>
</div>