.cenn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
}

.center-heart {
    align-items: center;
    display: flex !important;
    justify-content: center;
}

.product-col {
    height: auto !important;
    width: auto !important;
}

.action {
    display: flex;
    justify-content: right;
}

.slick-slider {
    height: 80% !important;
}

.single-product-tab .nav-tabs {
    margin-bottom: 0px !important;
}

.all-reviews {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-wrapper {
    padding-right: 30px;
    width: auto;
}

.review {
    display: flex;
    padding-bottom: 30px;
    width: 30%;
}