.cenn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
}

.center-heart {
    align-items: center;
    display: flex !important;
    justify-content: center;
}

.product-col {
    height: auto !important;
    width: auto !important;
}

.action {
    display: flex;
    justify-content: right;
}

.slick-slider {
    height: 80% !important;
}

.single-product-tab .nav-tabs {
    margin-bottom: 0px !important;
}

.all-reviews {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-wrapper {
    padding-right: 30px;
    width: auto;
}

.review {
    display: flex;
    padding-bottom: 30px;
    width: 30%;
}

.btn-add-wishlist {
    border: 1px solid grey;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.cart-list .list {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto !important;
    max-height: 480px !important;
}

.pagination {
    display: flex !important;
    width: 100% !important;
    justify-content: center;
}

.pag-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-pg {
    font-weight: bold;
}

.pag-numbers > p, .pag-numbers > a {
    font-size: 16px;
    padding: 5px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin-left: 5px;
    border: 1px solid grey !important;
}

.row {
    margin-top: 50px;
}

.topbar-center {
    width: auto !important;
    height: 50px;
    margin: 0px auto;

}

.logo {
    width: 120px;
}

.drop-menu {
    display: none;
}

.topbar:hover {
    backgroud-image: black;
}